<article class="calc">
            <div class="calc-content">
                <p class="calc-name" onclick="javascript:window.location.href='{{link}}'">
                    <a href = '{{link}}''>{{name}}</a>
                </p>
                <p class="calc-description">
                    {{description}}
                </p>  
            </div>
</article>