<article class="calc">
            <div class="calc-content">
                <p class="calc-name">
                    <a href="#">{{name}}</a>
                </p>
                <p class="calc-description">
                    {{description}}
                </p>
                <p class="hidden calc-equation">{{equation}}</p> 
            </div>
</article>