<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Calculators of Corvallis</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="index.js" crossorigin="anonymous"> </script>
    <script src="/calcTemplate.js" charset="utf-8" defer></script>

    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>
<body class="gradient_bg">

    <header>
        <a href="#"><h1 class="site-title"> Calculators of Corvallis</h1></a>

        <nav class="navbar">
            <ul class="navlist">
                <li class="navitem navlink active"><a href="/calc">Home</a></li>
                <li class="navitem navlink"><a href="/instructions">Instructions</a></li>
                <li class="navitem navbar-search">
                    <input type="text" id="navbar-search-input" placeholder="Search...">
                    <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
                </li>
            </ul>
        </nav>
    </header>

    <main class="calc-container">
        <!-- The calculators below are just placeholders, but I did try to pick calculators from npm-->
        {{log cards}}
        {{#each cards}}
            {{> calc}}
        {{/each}}



    </main>
    <button type="button" id="create-calc-button" class="hidden"><i class="fas fa-calculator"></i></button>

    <div id="modal-backdrop" class="hidden"></div>
    <div id="create-calc-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Create a Calculator</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="calc-input-element">
            <label for="calc-name-input">Calculator Name</label>
            <textarea id="calc-name-input"></textarea>
          </div>
          <div class="calc-input-element">
            <label for="calc-description-input">Description</label>
            <input type="text" id="calc-description-input">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Create Calculator</button>
        </div>

      </div>
    </div>

</body>
</html>
