{{> header}}

<main class="howTo-container">
  <h2>Instructions:</h2>
  <h3>1: Choose a calculator for the type of problem you'd like to be solved.</h3>
  <h3>2: Enter the required values for your problem.</h3>
  <h3>3: Click the 'Calculate' button to recieve your answer.</h3>

</main>
